<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-verychefy-20130328171140;Integrated Security=SSPI" />
        <add name="App_a_matic" connectionString="data source=(local);Initial Catalog=Food;integrated security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
