 
@model verychefy.Models.Products.Ingredients

<!DOCTYPE html>

<html>
<head>
    <title>Create</title>
</head>
<body>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Html.Partial("_EditForm" )

</body>
</html>

